@keyframes arrow {
	0% {
		opacity: 0
	}

	40% {
		opacity: 1
	}

	80% {
		opacity: 0
	}

	100% {
		opacity: 0
	}
}

@keyframes arrow2 {
	0% {
		left: 30px
	}

	100% {
		left: 90px
	}
}

.project-list {
	padding: 0
}

#projectList {
	margin-bottom: -20px;
	min-height: 320px
}

.project-list li {
	list-style: none;
	float: left;
	margin-right: 16px;
	margin-top: 20px;
	width: 325px;
	height: 270px;
	background-color: #fff;
	transition: all .15s
}

.project-list li:hover {
	box-shadow: 0 0 10px 2px #ccc
}

.project-list li:nth-child(3n) {
	margin-right: 0
}

.project-list li:nth-child(1),
.project-list li:nth-child(2),
.project-list li:nth-child(3) {
	margin-top: 0
}

.project-list li .top {
	height: 83px;
	border-bottom: 1px solid #dae5fb;
	overflow: hidden;
	position: relative
}

.project-list li .top .tag {
	position: absolute;
	width: 80px;
	height: 20px;
	color: #fff;
	left: -20px;
	top: 10px;
	text-align: right;
	text-align: center;
	line-height: 20px;
	transform: rotate(-45deg)
}

.project-list li .top .tag.red {
	background: #ed4747
}

.project-list li .top .tag.main {
	background: #4889ed
}

.project-list .last {
	text-align: center
}

.project-list li .top h3 {
	font-size: 18px;
	text-align: center;
	color: #478bee;
	line-height: 22px;
	margin: 0;
	height: 56px;
	display: table-cell;
	vertical-align: middle;
	width: 325px;
	padding: 10px 28px 0 28px
}

.project-list li .top h3 a {
	display: block;
	max-height: 46px;
	overflow: hidden;
	position: relative
}

.project-tabs {
	padding-left: 0;
	border-bottom: 1px solid #e6e6e6;
	padding-top: 2px;
	margin-bottom: 20px
}

.project-tabs li {
	float: left;
	margin-bottom: -1px;
	list-style: none;
	cursor: pointer
}

.project-tabs li>a {
	margin-right: 2px;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
	position: relative;
	display: block;
	padding: 10px 20px;
	font-size: 16px;
	color: #333
}

.project-tabs li.active>a,
.project-tabs li>a:hover {
	color: #498aee
}

.project-tabs li.active>a {
	border-bottom: 3px solid #498aee
}

@supports (-webkit-line-clamp:2) {
	.project-list li .top h3 a {
		text-overflow: ellipsis;
		-webkit-box-orient: vertical;
		display: -webkit-box;
		-webkit-line-clamp: 2
	}

	.project-list li .top h3 a::before {
		display: none !important
	}
}

.project-list li .top h3 a::before {
	content: "...";
	height: 22px;
	line-height: 22px;
	width: 1.5em;
	position: absolute;
	right: 0;
	bottom: 0;
	padding-left: 5px;
	background-color: #fff;
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0, #fff 50%);
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	display: none
}

.project-list li .top h3 a:hover {
	text-decoration: underline
}

.ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 0 10px
}

.project-list li .oprate-box {
	height: 24px;
	line-height: 24px;
	text-align: center;
	position: relative
}

.project-list li .oprate-box .a-box {
	position: absolute;
	right: 0
}

.project-list li .oprate-box a {
	cursor: pointer;
	margin-right: 12px;
	color: #999
}

.project-list li .oprate-box a:hover {
	text-decoration: underline
}

.project-list li .mid {
	height: 66px;
	overflow: hidden
}

.project-list li .creater {
	text-align: center;
	font-size: 14px;
	margin-top: 14px;
	margin-bottom: 0
}

.project-list li .state {
	text-align: center;
	font-size: 14px;
	margin-top: 4px
}

.project-list li .state .prize-state {
	color: #2aba65
}

.project-list li .prize {
	text-align: center;
	font-size: 14px;
	margin-top: 4px;
	color: #ffa800
}

.project-list .join-btn {
	display: block;
	width: 230px;
	height: 36px;
	background-color: #498aee;
	border-color: #498aee;
	font-size: 16px;
	border-radius: 2px;
	color: #fff;
	margin: 0 auto
}

.project-list .join-btn.disabled {
	pointer-events: auto;
	background: #e6e6e6;
	border-color: #e6e6e6;
	opacity: 1;
	color: #b4b4b4
}

.project-list .join-btn.disabled:hover {
	background: #e6e6e6;
	border-color: #e6e6e6
}

.project-list .join-btn:hover {
	background-color: #2473eb;
	border-color: #2473eb
}

.btn-live {
	display: inline-block;
	height: 30px;
	line-height: 28px;
	border: 1px solid #498aee;
	font-size: 14px;
	border-radius: 3px;
	color: #498aee;
	text-align: center;
	margin-top: 20px;
	cursor: pointer;
	padding: 0 14px
}

.btn-live.disabled {
	color: #b5b5b5;
	border-color: #dcdcdc;
	cursor: no-drop
}

.project-list .create-project {
	cursor: pointer
}

.project-list .plus {
	height: 166px;
	line-height: 160px;
	text-align: center;
	font-size: 160px;
	color: #dcdcdc
}

.project-list .create-p {
	font-size: 16px;
	color: #999;
	text-align: center
}

.time-box {
	width: 160px;
	height: 120px;
	background: url(http://chenyu76.github.io/program/img/time-bg.png) no-repeat;
	margin-top: 26px;
	padding: 5px
}

.time-box p {
	color: #fff;
	font-size: 13px;
	line-height: 22px;
	text-align: center;
	margin-top: 12px;
	margin-bottom: 10px
}

.time-box div {
	background: #fff;
	height: 28px;
	line-height: 28px;
	font-size: 16px;
	color: #016efd;
	text-align: center;
	font-weight: 700;
	border-radius: 28px
}

.link-box {
	margin-top: 26px;
	padding: 0 12px 0 20px;
	font-size: 16px;
	line-height: 24px;
	position: relative
}

.link-box a {
	position: relative
}

.link-box a::before {
	content: "";
	position: absolute;
	top: 10px;
	left: -12px;
	width: 5px;
	height: 5px;
	border-radius: 100%;
	background: #ddd
}

@keyframes lds-roller {
	0% {
		transform: rotate(0)
	}

	100% {
		transform: rotate(360deg)
	}
}
